body{
    background-color: black;
    

}
h1{
    font-family: Arial, Helvetica, sans-serif;
  
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
    color: white
  

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 40px;
    font-weight: bold;
    color: white
    
  
}

p{

    margin-left: 50px;
    color: white;
    padding-top: 40px;
    text-align: left;
    
  
}

.text{
    text-align: left;
    margin-left: 50px;
}

.donate{
    text-align: right;
    padding-right: 40px;

}
h3{
    padding-right: 40px;
    padding-left: 20px;
    color: #F2B299; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
  
}

footer a{
display: block;
color: white;
text-decoration: none;
padding-left: 20px;


}

footer a:hover{
    color: #F2B299;
}