
font-family: 'Montserrat', sans-serif;



.navBar {
   
}



.nav-link {
    margin: 0px 35px;
    justify-content: start;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    
}

.btn {
    
    margin-left: 75px;
    margin-right: 50px;
    height: 52px;
    width: 110px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgb(242, 178, 153);
    outline-color: rgb(242, 178, 153);
}
.btn:hover {
    color: white;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 78px;
    color: white ;
    padding-left: 130px;
    padding-top: 50px;
    padding-bottom: 109px;
}
.heroContent {
    background-color: rgb(10, 42, 53);
}

.waterBoy {
    padding-top: 50px;
    padding-bottom: 50px;
   
   
}

.mainContent {
    padding-top: 50px;
}